* {
    margin: 0%
}
header {
     background-image: linear-gradient(rgb(80, 224, 80),black);
     height: 690px;
     width: 100%;
}
.cima {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 690px;
    width: 100%;
}
.squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.45);
    display: block;
    position: absolute;
    top: 100%;
    bottom: 20%;
    animation: cima 5s linear infinite;
}
@keyframes cima {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-1000px) rotate(960deg);
    }
}

body {
    background-color: black;
    width: 100%;
}
nav > a {
    text-decoration: none;
    color: rgb(8, 8, 8);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    text-align: center;
    font-weight: bold;
    color: rgb(159, 243, 159);
    font-family: "Titulo";
    font-size: 90px;
}
.extras {
   background-image: linear-gradient(white,white);
   background-size: 0% 3px;
   background-position: left bottom;
   transition: all ease 350ms;
   background-repeat: no-repeat;
   padding: 10px;
}
.extras:hover {
   background-size: 100% 3px;
}
.entrar {
    border: 3px solid gray;
    padding: 10px;
    border-radius: 50px;
}
.login {
    border: 3px solid rgb(216, 178, 178);
    padding: 10px;
    border-radius: 50px;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
@font-face {
    font-family: "Titulo";
    src: url(neurock/Neurock.ttf);
}
.para1 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
}
.txt1 {
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.main1 {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 90px 0px;
}
p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
.para2 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
}
.txt2 {
    
    display: flex;
    justify-content: center;
    align-items: center;


}
.main2 {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 90px 0px;
}
.para3 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
}
.txt3 {
    
    display: flex;
    justify-content: center;
    align-items: center;


}
.main3 {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 90px 0px;
}
.para4 {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
}
.txt4 {
    
    display: flex;
    justify-content: center;
    align-items: center;


}
.main4 {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 90px 0px;
}
h1 {
    color:white
}
.titulo1{

}
.titulo2{

}
.titulo3{

}
.titulo4{

}
.paragraph1{

}
.paragraph2{

}
.paragraph3{

}
.paragraph4{
    
}